@media (min-width: 1400px){
.container {
    width: 1270px;
}
}
@media(max-width:1320px) and (min-width:768px){
    #wi{
        width: 100%;
    }
}
@media(min-width:1370px){
    #wi{
        width: 80%;
    }
}.modal-backdrop.fade{
    opacity: 0.7;
}
