.trapezoid1 {
    border-top: 30px solid #F4650C;
    left: 0px;
    width: 100px;
}

.rating {
    padding-top: 5px;
    width: 29%;
}



.trapezoid {
    border-top: 27px solid #9ed3c2;
    /*border-right: 30px solid transparent;*/
    width: 79px;
    left: 15px;
}

.tes:hover {
    color: white;
    background: #3b5998;
}
.tes {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    color: #3b5998;
    background:white;

}
.btn:focus{
    outline: none;
}
.btn:active:focus{
    outline: none;
}

  /* relevant styles */
  .img__wrap {
    position: relative;
    height: 200px;
   /* width: 257px; */
  }
  
  .img__description {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    background: #fff;
    z-index:6;
    position: absolute;
    color: #000;
    font-size:12px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
  
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
  }
  .imagehover .img__wrap:hover .pricerange{
      visibility: hidden;
  }
  .img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
.items_cart {
    position: absolute;
    top: 0px;
    left: 20%;
    background: black;
    color: white;
    border-radius: 100%;
    height: 22px;
    width: 22px;
}
.items_cart1 {
    position: absolute;
    top: 0px;
    left: 26%;
    background: black;
    color: white;
    border-radius: 100%;
    height: 22px;
    width: 22px;
}


#rela{
    margin-right: 20px;    padding-bottom: 3px; 
}

.foc :focus{
outline: none;
}
    .btn-default:hover{
     background-color: none !important;
 }
 .btn-default:focus{
     outline: none !important;
 }
.items_cart {
    position: absolute;
    top: 0px;
    left: 30%;
    background: black;
    color: white;
    border-radius: 100%;
    height: 22px;
    width: 22px;
}
.items_cart1 {
    position: absolute;
    top: 0px;
    left: 26%;
    background: black;
    color: white;
    border-radius: 100%;
    height: 22px;
    width: 22px;
}
h1, h2, h3, h4, h5 {
    font-family: Ubuntu-Medium !important;
}
p, a {
    font-family: 'Roboto', sans-serif !important;
}
span {
    font-family:Roboto, sans-serif  !important
}
h5{
    font-size:15px !important;
}

label {
    font-weight: unset !important;
}
.design:hover .wishlist1 .design {
    border: 1px solid;
    display: block !important;
}

@media(min-width:1025px) {
    .filter {
        width: 20%
    }
}
.PopUpmodal {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-bottom: 1px solid;
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    outline: none;
    width: 100%;
    display: inline-block;
}
input[type='range'] {
    width: 76%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}

    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: none;
    }

        input[type='range']::-webkit-slider-runnable-track {
            width: 76%;
            height: 1px;
            background: #003D7C;
        }

        input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
            background: none;
        }

        input[type='range']::-webkit-slider-thumb {
            position: relative;
            height: 15px;
            width: 15px;
            margin-top: -7px;
            background: #fff;
            border: 8px solid #F4650C;
            border-radius: 25px;
            z-index: 1;
        }


        input[type='range']:nth-child(1)::-webkit-slider-thumb {
            z-index: 2;
        }

.rangeslider {
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}

    .rangeslider input {
        position: absolute;
    }
#owl-demo .item {
    margin: 3px;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

    .dishslist  .owl-carousel .owl-stage-outer{
        overflow: hidden;
      }
      .owl-carousel .owl-stage-outer {
        /* override */
        overflow: initial;
    }
    .owl-carousel.owl-drag .owl-item{
        z-index:-1;
    }
.rangeslider {
    position: absolute;
}

    .rangeslider span {
        position: absolute;
        margin-top: 30px;
        left: 0;
    }

    .rangeslider .right {
        position: relative;
        float: right;
        margin-right: -5px;
    }

#Border {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    border-bottom: 1px solid;
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
    outline: none;
    display: inline-block;
    width: 100%;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 24px solid white;
    border-bottom: 12px solid transparent;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid white;
}

.view:hover {
    height: 27px;
    padding: unset;
    left: -20px;
    background-color: rgba(111,111,111,0.5);
}


.oldprice {
    position: relative;
    display: inline-block;
    font-size:13px;
}

    .oldprice::before, .oldprice::after {
        content: '';
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
    }

    .oldprice::before {
        border-bottom: 1.5px solid red;
        -webkit-transform: skewY(-10deg);
        transform: skewY(-10deg);
    }

    
h4 {
    font-size: 15px;
}
h1{
    font-size:30px;
}

.food:focus{
    border: unset;
    outline: unset;
}
#normalDish:focus{
    outline:unset ;
}
#normal :focus{
    outline: unset;
}
@media (max-width: 767px) {
    .Drin {
       padding-top:20px ;
    }
    .Lu{
        padding: unset !important;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .FF{
        padding: unset;
    }
}
.test {
    position: relative;
    top: -25px;
    color: white;
    padding-left: 11px;
}

.overFlow {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 60px;
}



.horizontal {
    padding-top: 40px;
}

.test1 {
    position: absolute;
    color: white;
    left: 0px;
}

.dollar {
    padding-right: unset;
    padding-left: unset;
}

.border {
    border: 1px solid gray;
    border-bottom: unset;
}

.rating1 {
    padding-right: unset !important;
    padding-left: unset !important;
}
.dollar {
    padding-right: unset !important;
    padding-left: unset !important;
}

.title {
    height: 35px;
    overflow-x: auto;
}
@media (min-width: 768px) {
    .modal-sm {
        width: 400px !important;
    }
}
@media (min-width:768px) {
    .wishlist1 {
        position: relative;
        top: -50px;
        float: right;
        /* right: -327px; */
    left: inherit;
    right: 0;
}

    .wishlist {
        position: relative;
        top: 0px;
        float: right;
        /* right: -327px; */
        left: inherit;
        right: 0;
    }
}

@media (max-width:768px) {
    .wishlist1 {
        position: relative;
        top: -50px;
        float: right;
        /* right: -327px; */
        left: inherit;
        right: 0;
    }

    .wishlist {
        position: relative;
        top: -11px;
        float: right;
        /* right: -327px; */
        left: inherit;
        right: 0;
    }

    .Soup {
        padding-right: unset;
        padding-left: unset;
        padding-top: 30px;
    }

    .spicy {
        padding-left: unset !important;
    }

    .imgsoup {
        width: 100px !important;
    }


    .arrow {
        display: none;
    }
}




.wishlist1 {
    display: none;
}

.AddAddress {
    POSITION: ABSOLUTE;
    top: 18%;
    left: 13%;
    border: 1px dashed rgba(111,111,111,0.5);
    padding: 22px;
    padding-left: 78px;
    padding-right: 78px;
}

@media(max-width:768px) {
    .Address {
        position: unset !important;
    }

    .AddAddress {
        POSITION: unset;
        top: 18%;
        left: 13%;
        border: 1px dashed rgba(111,111,111,0.5);
        padding: 22px;
        padding-left: 78px;
        padding-right: 78px;
    }
    .Fa{
        position: unset !important;
    }
}

.owl-next{
    position: absolute;
    top: 41%;
    right:  -30px;
    float:right;
}
 .owl-prev{
    position: absolute;
    top: 41%;
left: -30px;
}
.menuvariance{
    border: 1px solid #151515; 
    border-radius: 5px;
    padding: 4px 7px;
}
.menuvariance:hover{
    background-color:#151515;
    color: white;
}
.menuvariance:active{
    background-color:#151515;
    color: white;
}
.Addon{
    border: 1px solid #151515; 
    border-radius: 5px;
    padding: 10px;
   
}
.Addon:hover{
    background-color:#FF2F2F;
    color: white;
}
.tooltipval {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
 
.tooltipval .tooltiptextname {
    visibility: hidden;
    width: 191px;
    height: 343px;
    overflow: scroll;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 150%;
    left: -574%;
    margin-left: -60px;
  }
.tooltipval .tooltiptextname::after {
    content: "";
    position: absolute;
    top: 100%;
    left:67%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: White transparent transparent transparent;
  }
  
  .tooltipval:hover .tooltiptextname {
    visibility: visible;
  }

#modalContainer {
    background-color:rgba(0, 0, 0, 0.3);
    position:absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:10000;
    /* background-image:url(tp.png); required by MSIE to prevent actions on lower z-index elements */
}
 
#alertBox {
    position:relative;
    width:440px;
    min-height:100px;
    margin-top:20%;
    border:1px solid #666;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:20px 30px;
}
 
#modalContainer > #alertBox {
    position:fixed;
}
 
#alertBox h1 {
    margin:0;
   
    background-color:#9ed3c2;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:20px 0 5px 5px;
}
 
#alertBox p {
  margin-top: 15px;
  font-size: 20px;
    height:50px;
    padding-left:5px;
    margin-left:55px;
}
 
#alertBox #closeBtn {
    display:block;
    position:relative;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:70px;
  
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    background-color:#9ed3c2;
    border-radius: 3px;
    text-decoration:none;
}
 
/* unrelated styles */
 
#mContainer {
    position:relative;
    width:600px;
    margin:auto;
    padding:5px;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    font:0.7em verdana,arial;
}


 
code {
    font-size:1.2em;
    color:#069;
}
 
#credits {
    position:relative;
    margin:25px auto 0px auto;
    width:350px; 
    font:0.7em verdana;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    height:90px;
    padding-top:4px;
}
 
#credits img {
    float:left;
    margin:5px 10px 5px 0px;
    border:1px solid #000000;
    width:80px;
    height:79px;
}
 
.important {
    background-color:#F5FCC8;
    padding:2px;
}
 
code span {
    color:#9ed3c2;
}
.tooltip2 {
    position: relative;
    display: inline-block;
  }
  
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
  }

