<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
<div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight">
</div>
<div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left ps ps--active-y">

  <!-- Logo -->
  <div class="logo-sn ms-d-block-lg">
    <a class="pl-0 ml-0 text-center"> <img src="../assets/Images/Shopping.png" alt="logo" style="width: 50px;height: 50px;"> </a>
  </div>

  <!-- Navigation -->
  <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion" style="padding-top: 15px;">
    <!-- Dashboard -->
    <!-- <li class="menu-item">
      <a href="#" [routerLink]="'/AdminDashboard'">
        <span><img src="../../assets/Images/icon/Home.png" style="    padding-right: 11px;"> Home </span>
      </a>

    </li> -->
    <!-- /Dashboard -->
    <!-- product -->
    <li class="menu-item" [hidden]="isShownViewOrder">
      <a href="#" [routerLink]="'/AdminViewOrder'">
        <span> <img src="../../assets/Images/icon/Orders.png" style="    padding-right: 11px;">View Order </span>
      </a>

    </li>
    <!-- <li class="menu-item" [hidden]="isShownReports">
      <a href="#" [routerLink]="'/AdminReports'">
        <span> <img src="../../assets/Images/icon/Reports.png" style="    padding-right: 11px;">Reports </span>
      </a>

    </li> -->
    <li class="menu-item" [hidden]="isShownMenuItem">
      <a href="#" [routerLink]="'/AdminHome'">
        <span> <img src="../../assets/Images/icon/Menu.png" style="    padding-right: 11px;"> Product </span>
      </a>

    </li>
    <li class="menu-item" [hidden]="isShownCoupon">
      <a [routerLink]="'/AdminCoupon'">
       
        <span> <img src="../../assets/Images/icon/Tips.png" style="    padding-right: 11px;">Coupons</span>
      </a>
    </li>
    <li class="menu-item" [hidden]="isShownDiscount">
      <a [routerLink]="'/AdminOffer'">
       
        <span> <img src="../../assets/Images/icon/Tips.png" style="    padding-right: 11px;"> Discounts / Offers</span>
      </a>
    </li>
    <!-- <li class="menu-item" [hidden]="isShownTips">
      <a [routerLink]="'/AdminTips'">
        <span> <img src="../../assets/Images/icon/Tips.png" style="    padding-right: 11px;">Tips</span>
      </a>
    </li> -->
    <!-- <li class="menu-item" [hidden]="isShownRating">
      <a href="#" [routerLink]="'/AdminRating'">
        <span> <img src="../../assets/Images/icon/Rating.png" style="    padding-right: 11px;">Rating </span>
      </a>

    </li>
    <li class="menu-item" [hidden]="isShownTable">
      <a [routerLink]="'/AdminTable'">
        <span> <img src="../../assets/Images/icon/Table.png" style="    padding-right: 11px;">Table</span>
      </a>
    </li> -->
    <li class="menu-item" [hidden]="isShownTax">
      <a href="" [routerLink]="'/AdminTax'">
        <span> <img src="../../assets/Images/icon/Tax.png" style="    padding-right: 11px;">Tax</span>
      </a>
    </li>
   
  
    <li class="menu-item menu-item1">
      <a  href="javascript:void(0);" 
         (click)="toggleCollapse()" [attr.aria-expanded]="isCollapsed ? 'false' : 'true'" data-toggle="collapse" 
         [attr.data-target]="'#product'">
        <span>
          <img src="../../assets/Images/icon/Reports.png" style="padding-right: 11px;"> Master
         
        </span>
        <span style="    position: absolute; right: 0;" class="arrow" [ngClass]="{'arrow-down': !isCollapsed, 'arrow-up': isCollapsed}"></span>
      </a>
      <ul id="product" class="collapse" [class.show]="!isCollapsed">
        <!-- <li [hidden]="isShownResHoliday"> <a [routerLink]="'/AdminHoliday'"> Restaurant Holiday</a></li> -->
        <!-- <li [hidden]="isShownResWorkHours"> <a [routerLink]="'/Adminworking'">Restaurant Working Hours</a></li> -->
        <li [hidden]="isShownCategory"> <a [routerLink]="'/AdminCategory'">Category</a></li>
        <li [hidden]="isShownSubCategory"> <a [routerLink]="'/AdminSubCategory'">Subcategory</a></li>
        <li [hidden]="isShownSetting"> <a [routerLink]="'/ItemSettings'">Menu Settings</a></li>
        <li [hidden]="isShownExtra"> <a [routerLink]="'/Extra'"> Menu-Extra</a></li>
        <li [hidden]="isShownResturant"> <a [routerLink]="'/SuperAdminRestarunt'">Store Masters</a></li>
        <!-- <li [hidden]="isShownPrinter"> <a [routerLink]="'/AdminPrinter'"> Printer Config</a></li> -->
      </ul>
    </li>
    <li class="menu-item" [hidden]="isShownWaiter">
      <a href="" [routerLink]="'/AdminWaiter'">
        <span> <img src="../../assets/Images/icon/Waiter.png" style="    padding-right: 11px;">User</span>
      </a>
    </li>

    <!-- <li class="menu-item">
      <a href="" [routerLink]="'/Adminprofile'">
        <span> <img src="../../assets/Images/icon/Profileupdate.png" style="    padding-right: 11px;">Profile
          Update</span>
      </a>
    </li> -->
    <li class="menu-item" [hidden]="isShownUserRights">
      <a href="" [routerLink]="'/UserRights'"  >
        <span> <img src="../../assets/Images/icon/Profileupdate.png" style="    padding-right: 11px;">User Rights</span>
      </a>
    </li>
     <li class="menu-item">
      <a href="" [routerLink]="'/Adminprofile'">
        <span> <img src="../../assets/Images/icon/Profileupdate.png" style="    padding-right: 11px;">Profile
          Update</span>
      </a>
    </li>
    <!-- /Advanced UI Elements -->
    <li class="menu-item">
      <a [routerLink]="'/Admin'">
        <span><img src="../../assets/Images/icon/Logout.png" style="    padding-right: 11px;">Logout</span>
      </a>
    </li>

  </ul>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
    <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
  </div>
  <div class="ps__rail-y" style="top: 0px; height: 390px; right: 0px;">
    <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 131px;"></div>
  </div>
</aside>

