.SiteMapHeader{
    background-color:#FF2F2F;
    color: white;
    padding: 10px 5px;
    text-align: center;
}
.SiteMapContent{
    
    
    padding: 15px 5px;
    text-align: center;
    color:black;
}