

    <main class="body-content">

        <!-- Navigation Bar -->
        <nav class="navbar ms-navbar" style=" margin: unset;">
            <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft"> <span class="ms-toggler-bar bg-primary"></span>
              <span class="ms-toggler-bar bg-primary"></span>
              <span class="ms-toggler-bar bg-primary"></span>
            </div>
            
          </nav>
<div style="margin-top:25px; "></div>
<div  class="ms-content-wrapper">
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=6b2a5ead-1860-496b-8035-c31b65dc5096&autoAuth=true&ctid=101c474e-f007-4b87-a1f4-7e5ea3466c24&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>
         
    
      </main>
  
